# macOS system files
.DS_Store
**/.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Virtual environments
venv/
.env/
.venv/

# IDE / Editor
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak